body {
    display: flex;
    margin: 0;
}

a:link {
    text-decoration: none;
    font-style: italic;
    color: #000;
    border-bottom: 1px dotted;
    text-transform: lowercase;
}

a#all {
    margin: 0 16px;
    order: -1;
}
