body {
    background: #fbfbfb;
    color: #383838;
    width: 80%;
    margin: auto;
}

h3 > span:first-child {
    font-family: monospace;
}

a:link {
    text-decoration: none;
    font-style: italic;
    color: #000;
    border-bottom: 1px dotted;
}

hr {
    border: none;
    border-bottom: 1px solid;
}
