body {
    background: #fbfbfb;
    color: #383838;
    width: 80%;
    margin: auto;
}

h3 > span:first-child {
    font-family: monospace;
}

a:link, a:visited, a:hover {
    text-decoration: none;
    font-style: italic;
    color: #000;
    border-bottom: 1px dotted;
}

hr {
    border: none;
    border-bottom: 1px solid;
}

iframe {
    border: none;
    height: 19px;
}

pre {
    margin: 0;
    padding: 16px;
    background: rgba(0, 0, 0, 0.125);
}
